html, body {
    margin: 0;
    padding: 0;
    background-color: #1B0E3E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Paletton color palette */

.color-primary-0 { color: #2E1F58 }	/* Main Primary color */
.color-primary-1 { color: #5F5087 }
.color-primary-2 { color: #43346D }
.color-primary-3 { color: #1B0E3E }
.color-primary-4 { color: #0C0425 }

.rgba-primary-0 { color: rgba( 46, 31, 88,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba( 95, 80,135,1) }
.rgba-primary-2 { color: rgba( 67, 52,109,1) }
.rgba-primary-3 { color: rgba( 27, 14, 62,1) }
.rgba-primary-4 { color: rgba( 12,  4, 37,1) }

.splash {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 100px;
    margin: -50px 0 0 -250px;
    text-align: center;
    color: #FFFFFF;
}
.logo {
    font-size: 36pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}
.logo .accent {
    color: rgb(157, 141, 202);
}
.tagline {
    color: #D0D0D0;
    font-size: 16px;
    margin-top: 50px;
}